h1 {
    position:absolute;
    top: 15px;
    left: 30px;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: left;
}

body { margin:0;
    background-color: #ffffff;
}

.button1 {position: absolute;
     background-color: #ffffff;
     height: 30px;
     width: 80px;
     left: 720px;
     top: 45px;
     border-radius: 8px;
 }
.button2 {position: absolute;
    background-color: #ffffff;
    height: 30px;
    width: 80px;
    left: 815px;
    top: 45px;
    border-radius: 8px;
}